.education{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1600' height='900' preserveAspectRatio='none' viewBox='0 0 1600 900'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath1778%26quot%3b)' fill='none'%3e%3crect width='1600' height='900' x='0' y='0' fill='rgba(4%2c 4%2c 42%2c 1)'%3e%3c/rect%3e%3ccircle r='57.165' cx='1576.66' cy='864.21' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='60.31' cx='90.32' cy='634.98' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='45.025' cx='1268.48' cy='372.51' fill='url(%23SvgjsLinearGradient1779)'%3e%3c/circle%3e%3ccircle r='42.3' cx='792.83' cy='192.18' fill='url(%23SvgjsLinearGradient1780)'%3e%3c/circle%3e%3ccircle r='61.775' cx='179.8' cy='298.1' fill='url(%23SvgjsLinearGradient1781)'%3e%3c/circle%3e%3ccircle r='48.235' cx='1464.85' cy='743.98' fill='url(%23SvgjsLinearGradient1782)'%3e%3c/circle%3e%3ccircle r='60.595' cx='257.31' cy='383.72' fill='%2343468b'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath1778'%3e%3crect width='1600' height='900' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='1178.43' y1='372.51' x2='1358.53' y2='372.51' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1779'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='708.23' y1='192.18' x2='877.4300000000001' y2='192.18' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1780'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='56.250000000000014' y1='298.1' x2='303.35' y2='298.1' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1781'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1368.3799999999999' y1='743.98' x2='1561.32' y2='743.98' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1782'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;

}

.education_heading{
    display: flex;
    justify-content:center;
    margin: 0;
}

.background{
    display: grid;
    justify-content: space-around;
    grid-template-columns:auto auto auto;
    column-gap: 1.5rem;
    text-align: center;
}

.circle{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: palevioletred;
    border-radius: 50%;
}

.line{
    display: block;
    height: 1px;
    width: 250%;
    background-color: palevioletred;
    transform: translate(6px,-11px);
    margin-left: 50%;
}
